
.bannerContainer { 
    align-items: center;
    background: var(--banner-background);
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 25px;
    display: flex;
    height: 223px;
    justify-content: center;
    position: relative;
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width: 769px) {
    .bannerContainer {
        height: 223px;
        border-radius: 25px;
        font-size: 12px;
    }
}

.bannerTextContainer {
    box-sizing: border-box;
    font-family: Montserrat,sans-serif;
}

.bannerText {
    color: var(--tertiary-color);
    align-items: center;
    border-radius: 25px;
    display: flex;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    height: 100%;
    justify-content: center;
    left: 0;
    line-height: 142.6%;
    right: 0;
    top: 0;
    width: 100%;
    
}

@media screen and (max-width: 769px) {
    .bannerText {
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        font-size: 28px;
        font-weight: 500;
        border-radius: 25px;
        text-align: center;
    }
}
