

.cardLogement {
  display: flex;
  position: relative;
  width: 335px;
  min-width: 335px;
  height: 255px;
  border-radius: 10px;
  transition: transform 1s;
}


@media screen and (min-width: var(--breakpoint-desktop)) {
    .cardLogement {
        width: 340px;
        height: 340px;
    }
}

.cardLogement:hover,
    .cardLogement:focus {
        box-shadow: rgba(255, 96, 96, 0.9) 0 0 22px 6px;
    }

.cardLogement img {
    display: flex;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.cardLogementLayer {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    background: var(--linear-cards);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cardLogementTitle {
    display: flex;
    align-items: flex-end;
    position: absolute;
    background-color: var(--primary-color);
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    color: var(--secondary-color);
    left: 5.88%;
    right: 5.88%;
    top: 78.82%;
    bottom: 5.88%;
}

.cardsContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    margin: 20px 0;
    padding: 3% 0%;
    flex-wrap: wrap;
    background-color: var(--secondary-color);
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (max-width:769px) {
    .cardsContainer {
        gap: 50px;
        padding: 5% 1%;
        background-color: #f7f7f7;
        border-radius: 25px;
        margin: 43px 0;
    }
}

.linkCardLogement {
    text-decoration: none;
}
