.collapse {
    width: 100%;
    margin: 20px auto;
}

@media screen and (min-width: var(--breakpoint-desktop)) {
    .collapse {
        margin: 31px auto 0;
    }
}

.collapseVisible {
    background: var(--primary-color);
    color: var(--tertiary-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 7px 15px;
    border-radius: 5px;
    width: 97%;
    margin-top: 30px;

}

@media screen and (min-width: var(--breakpoint-desktop)) {
    .collapseVisible {
        height: 47px;
    }
}

.collapseVisible h2 {
    font-size: 25px;
    font-weight: 500;
}

@media screen and (min-width: var(--breakpoint-desktop)) {
    .collapseVisible h2 {
        font-size: 24px;
    }
}

.collapseToggle {
    opacity: 0;
    color: var(--primary-color);
    background: var(--secondary-color);
    border-radius: 5px;
    transition: opacity 0.4s 0.4s ease-in-out, height 0.4s ease-in-out;  
}


.collapseToggle p {
    margin: 0;
    margin-bottom: 10px;
    padding: 22px 15px;
    pointer-events: none;
    font-size: 24px;
    font-weight: 400;
    list-style-type: none;
}

@media screen and (min-width: var(--breakpoint-desktop)) {
    .collapseToggle p {
        font-size: 24px;
    }
}
@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}



.animated {
  animation: fadeIn 0.4s ease-in-out 0.4s forwards
}

.chevron {
    transform: rotate(0deg);
    transition: 0.4s 0.4s ease-in-out;
}

@media screen and (min-width: var(--breakpoint-desktop)) {
    .chevron {
        width: 15px;
    }
}

.rotated {
    transform: rotate(180deg);
    transition: 0.4s ease-in-out;
}

/* .aboutStyle {
    width: 100%;
    display: flex;
    flex-direction: column;
} */

@media screen and (min-width: var(--breakpoint-desktop)) {
    .aboutStyle {
        width: 87.5%;
    }
}
.collapseContainer {
    display: flex;
    justify-content: space-around;
    font-size: 25px;

}

.collapseFicheContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 25px;
}

@media screen and (min-width: var(--breakpoint-desktop)) {
    .collapseFicheContainer {
        flex-direction: row;
        /* gap: 6%; */
    }
}

.equipList {
    list-style-type: none;
}
