.hostComp {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

.hostPicture {
    display: flex;
    margin-left: 10px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: #c4c4c4;
}

.hostPicture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.hostName {
    display: flex;
    align-items: flex-end;
    width: 63px;
    height: 66px;
    text-align: right;
    font-size: 18px;
    font-weight: 500;
    line-height: 142.6%;
    color: var(--primary-color)
}


.rateHostContainer {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.HostContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.hostInfoContainer {
    display: flex;
    width: 90%;
    margin-left: 5%;
    color: var(--primary-color);
    justify-content: space-between;
}
